desktop-notifier
filetype
gallery-dl
get-video-properties
mpv
pillow
pygame
pynput
pypresence
pystray
python-xlib; sys_platform == 'linux'
requests
screeninfo
sounddevice
tkinterweb
ttkwidgets
voluptuous
