booru
desktop-notifier
filetype
get-video-properties
mpv
pillow
pyglet
pynput
pypresence
pystray
python-xlib; sys_platform == 'linux'
requests
screeninfo
sounddevice
tkinter-tooltip
tkinterweb
ttkwidgets
voluptuous
pywin32